[submodule "trunk/vendor/normalize.css"]
	path = trunk/vendor/normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "trunk/vendor/respond.js"]
	path = trunk/vendor/respond.js
	url = https://github.com/scottjehl/Respond.git
[submodule "trunk/vendor/box-sizing-polyfill"]
	path = trunk/vendor/box-sizing-polyfill
	url = https://github.com/Schepp/box-sizing-polyfill.git
[submodule "trunk/vendor/FlexSlider"]
	path = trunk/vendor/FlexSlider
	url = https://github.com/woothemes/FlexSlider
