/*********************** 
  TYPOGRAPHY

  more configuration options: http://compass-style.org/reference/compass/typography/vertical_rhythm/ 
***********************/

$base-font-size: 16px;
$base-line-height: 24px;


/*********************** 
  COLOUR
***********************/
$colour1: #999;
$colour2: #666;
$background_colour: #fff;
$border_colour: #ddd;


/*********************** 
  ROUNDED CORNERS
***********************/
$default-border-radius: 5px;