/*********************** 
  LOCATION
***********************/

$template-root-folder: /templates/responsive_template;
$template-style-folder: example;


/*********************** 
  TYPOGRAPHY

  more configuration options: http://compass-style.org/reference/compass/typography/vertical_rhythm/ 
***********************/

$base-font-size: 16px;
$base-line-height: 24px;


/*********************** 
  COLOUR
***********************/

$colour1: #999;
$colour2: #666;
$text-colour: #555;
$background-colour: #fff;
$border-colour: #ddd;
$separator-colour: #000;


/*********************** 
  ROUNDED CORNERS
***********************/

$default-border-radius: 5px;


/*********************** 
  BREAKPOINTS
***********************/

$break-min:     240px/$base-font-size*1em; /* Site might not look good below this */
$break-small:   320px/$base-font-size*1em;
$break-medium:  600px/$base-font-size*1em;
$break-large:   1024px/$base-font-size*1em;
$break-xlarge:  1440px/$base-font-size*1em;

$max-width:     1620px;
$break-xxlarge: ($max-width+60px)/$base-font-size*1em; // Break above the max-width to avoid getting no whitespace on the sides