@media screen and (min-width: $break-small) { 
    header {
        #logo {
            width: 50%;
        }

        #extra {
            #language {
                span {
                    display: block;
                    float: right;
                    margin-right: 1em;
                    line-height: image-height(sprite-file($icons-sprite-map, english_large));
                }
            }
        }
    }
}