@media screen and (min-width: $break-medium) { 

    /* If we're not on a touch device, we can fit in some extra content */
    .no-touch {
        header {
            #extra {
                margin-top: 1em;

                #contact_short {
                    display: block;

                    .phone, 
                    .email {
                        float: right;
                        line-height: image-height(sprite-file($icons-sprite-map, email));
                        margin-right: 2em;
                    }

                    .email_icon,
                    .phone_icon {
                        @include inline-icon;
                    }

                    .email_icon {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, email); 
                    }

                    .phone_icon {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, phone); 
                    }
                }

                #language {
                    padding-top: 2px;
                    height: image-height(sprite-file($icons-sprite-map, english_small));
                    width:  2.5*image-width(sprite-file($icons-sprite-map, english_small));

                    span {
                        display: none;
                    }

                    a.active {
                        display: block;
                        opacity: .4;
                    }  

                    #english {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, english_small);            
                        float: left;
                    }
                    #norwegian {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, norwegian_small);
                        float: right;
                    }
                }
            }
        }
    }

    header {
        #logo {
            width: 25%;
        }

        #extra {
            width: 60%;
        }

        nav ul {

            li, li:last-child {
                width: 20%;
            }

            li.normal {
                display: block;
            }

            li:not(.normal) {
                background: url('../images/' + $template-style-folder + '/arrow.png') no-repeat 95% 50%;
            }

            #menu_footer_link {
                display: none;
            }
        }
    }

    .slider-wrapper {
        .slides {
            h3 {
                bottom: 1em;
            }
        }
    }

    #product_categories {
        padding: 0;
        
        article {
            width: 50%;
            padding: em(16,13);
            margin-bottom: 0;

            a {
                .imageholder {
                    h3 {
                        left: 0;
                        @include overlay-text-layout;
                    }
                }

                .description {
                    margin-top: 1em;
                }
            }   
        }
    }

    footer {
        nav > ul {

            > li {
                width: 33.333%;
                clear: none;
                padding-right: 1em;
            }

            > li:last-child {
                width: 33.334%;
                padding-right: 0;
            }
        }

        #contact {
            position: relative;

            #company_contact {
                width: 50%;
                float: left;
            }

            [itemprop="address"] {
                float: right;
                width: 45%;

                #map {
                    display: block;
                }
            }
        }
    }
}