@media screen and (min-width: $break-5) {

    .no-touch header #extra {
        margin-top: 0;
    }

    header {

        #logo {
            margin-bottom: 1em;
            width: 22%;

            html.touch & {
                margin-top: 2em; // make room for the bigger flag icons
            }
        }

        #extra {
            position: absolute;
            right: 0;
            bottom: 3.5em;

            #contact_short {
                display: block;
                float: right;
            }

            #language {
                height: image-height(sprite-file($icons-sprites, english_large));
                width:  2.5*image-width(sprite-file($icons-sprites, english_large));

                span {
                    display: none;
                }
            }
        }

        nav {
            width: 72%;
            clear: right;
            margin-right: 1em;

            position: absolute;
            bottom: 0;
            right: 0;

            & > ul {
                & > li {
                    &:nth-child(3) {
                        @include border-top-left-radius();
                    }
                    &:last-child {
                        @include border-top-right-radius();
                    }
                }
            }
        }
    }

    .slider-wrapper {
        border-bottom: 4px solid $separator-colour;
        .slider {
            .slides {
                .infobox {
                    width: 430px/16px*1em;
                    position: absolute;
                    bottom: 1em;
                    left: 1em;
                    @include rgba-background-inline(rgba(0,0,0,0.6));
                    padding: 2em;

                    h3 {
                        position: relative;
                        clear: both;
                        width: 100%;
                        background: none;
                        bottom: 0;
                        padding: 0;

                        &:after {
                            display: none;
                        }
                    }

                    .description,
                    .readon {
                        margin: 0;
                        display: block;
                        clear: both;
                    }

                    .description {
                        width: 270px/14px*1em;
                    }

                    .readon {
                        background-color: $colour3;
                        width: auto;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: .5em 1em;
                        @include button-arrow(.45em, 'button_arrow_white_red');
                    }
                }
            }
        }

        .flex-control-nav {
            position: absolute;
            bottom: 0;
            right: 1em;
            background-image: none;
            background-color: transparent;
        }
    }

    #product_categories {
        article {
            width: 25%;
        }
    }

    #subpage {
        
        .wrap {

            nav {
                width: 100%;

                & > ul > li.active {
                    padding: 0;
                    width: 65%;
                    float: right;
                    margin-right: 1em;

                    ul {
                        padding: 0;
                    }
                }
            }

            #contents {
                width: 63%;
            }

            aside {
                width: 33%;
            }
        }
    }

    footer {
        nav {
            width: 50%;
            max-width: 50em;
            float: left;
        }

        #contact {
            width: 50%;
            float: right;
            max-width: 40em;
        }
    }
}