@media screen and (min-width: $break-large) {

    .no-touch header #extra {
        margin-top: 0;
    }

    header {

        #logo {
            margin-bottom: 1em;
        }

        #extra {

            position: absolute;
            right: 0;
            bottom: 3.25em;

            #contact_short {
                display: block;
                float: right;
            }

            #language {
                height: image-height(sprite-file($icons-sprite-map, english_large));
                width:  2.5*image-width(sprite-file($icons-sprite-map, english_large));

                span {
                    display: none;
                }

                a.active {
                    display: block;
                    opacity: .4;
                }

                #norwegian {
                    float: right;
                }
            }
        }

        nav {
            width: auto;
            clear: right;
            margin-right: 1em;

            position: absolute;
            bottom: 0;
            right: 0;

            & > ul {
                @include border-top-radius();

                & > li > a {
                    padding: 0 3em;
                }
            }
        }
    }

    #product_categories {
        article {
            width: 25%;
        }
    }

    footer {
        nav {
            width: 50%;
            max-width: 50em;
            float: left;
        }

        #contact {
            width: 50%;
            float: right;
            max-width: 40em;
        }
    }
}