@media screen and (min-width: $break-8) {

    .wrap {
        @include pie-clearfix;
        position: relative;
        max-width: $max-width/18px*1em;
        margin: 0 auto;
    }

    header {
        #logo {
            margin-left: 0;
        }

        #extra #language,
        nav {
            margin-right: 0;
        }
    }

    .slider-wrapper {
        .slider {
            .slides {
                & > li {
                    & > a {
                        .infobox {
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    #product_categories {
        .wrap {
            /* Compensate for the 13/16 font size in this section */
            /* Give +36px extra room to compensate for the articles' side paddings */
            max-width: $break-8*(16/18);
            article a .imageholder h3 {
                bottom: 1em;
            }
        }
    }
}