@media screen and (min-width: $break-3) { 

    /* If we're not on a touch device, we can fit in some extra content */
    .no-touch {
        header {
            #extra {
                margin-top: 1em;

                #contact_short {
                    display: block;

                    .phone, 
                    .email {
                        float: right;
                        line-height: image-height(sprite-file($icons-sprite-map, email));
                        margin-right: 2em;
                    }

                    .email_icon,
                    .phone_icon {
                        @include inline-icon;
                    }

                    .email_icon {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, email); 
                    }

                    .phone_icon {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, phone); 
                    }
                }

                #language {
                    padding-top: 2px;
                    height: image-height(sprite-file($icons-sprite-map, english_small));
                    width:  2.5*image-width(sprite-file($icons-sprite-map, english_small));

                    span {
                        display: none;
                    }

                    a.active {
                        display: block;
                        opacity: .4;
                    }  

                    #english {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, english_small);            
                        float: left;
                    }
                    #norwegian {
                        @include sprite-replace-text-with-dimensions($icons-sprite-map, norwegian_small);
                        float: right;
                    }
                }
            }
        }
    }

    header {
        margin-bottom: 0;

        #logo {
            width: 25%;
        }

        #extra {
            width: 70%;
        }

        nav ul {

            li {
                margin-top: 5px;
                width: 20%;
                display: block;

                &:last-child {
                    width: 20%;
                }

                &.menulink {
                    display: none;
                }

                a {
                    border-bottom: 1px solid #fff;
                }

                &.active {
                    margin-top: 0;
                    padding-top: 5px;
                    @include border-top-radius;

                    a {
                        border-bottom: 1px solid darken($colour1, 10%);
                    }
                }

                &.highlighted.active a {
                    border-bottom: 1px solid darken($colour2, 10%);
                }

                &.call-to-action.active a {
                    border-bottom: 1px solid darken($colour3, 10%);
                }
            }

            #menu_footer_link {
                display: none;
            }
        }
    }

    .slider-wrapper {
        .slider {
            .slides {
                & > li {
                    h3 {
                        bottom: 1em;
                    }
                }
            }
        }
    }

    #product_categories {
        padding: 0;
        
        article {
            width: 50%;
            padding: em(16,13);
            margin-bottom: 0;

            a {
                .imageholder {
                    h3 {
                        left: 0;
                        @include overlay-text-layout;
                    }
                }

                .description {
                    margin-top: 1em;
                }
            }   
        }
    }

    #subpage {
        nav {
            @include horizontal-list(em(12,14));
            background-color: #f4f4f4;
            border-bottom: 1px solid #dedede;

            ul {
                @include pie-clearfix;
                margin: 0;
                padding: 0 em(16,14);
            }
        }
    }

    footer {
        nav > ul {

            > li {
                width: 33.333%;
                clear: none;
                padding-right: 1em;
            }

            > li:last-child {
                width: 33.334%;
                padding-right: 0;
            }
        }

        #contact {
            position: relative;

            #company_contact {
                width: 50%;
                float: left;
            }

            [itemprop="address"] {
                float: right;
                width: 45%;

                #map {
                    display: block;
                }
            }
        }
    }
}