/* General */

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    *behavior: url($template-root-folder + '/script/boxsizing.htc'); /* box sizing hack/polyfill for IE6/7, see https://github.com/Schepp/box-sizing-polyfill */
}

body {
    & > * {
        width: 100%;
        clear: both;
    }

    img.svg-over-png {
        display: none;
    }

    img.png-over-svg {
        display: block;
    }
}

body.svg {
    .svg-over-png {
        display: block;
    }

    .png-over-svg {
        display: none;
    }
}

header {
    @extend .clearfix;
    margin-bottom: 1px;
    position: relative;

    #logo {
        float: left;
        width: 65%;
        margin: 1em 0 1em 1em;
        line-height: 0;

        img {
            width: 100%;
        }
    }

    #extra {
        @extend .clearfix;

        position: absolute;
        right: 0;
        bottom: 3.5em;
        width: 30%; /* make room for logo */

        #contact_short {
            display: none;
            float: right;
            margin: 1.333em 0 0 0;
        }

        #language {
            @extend .clearfix;

            margin: 1.455em 1.455em 0 0;
            float: right;
            text-align: center;
            width: 100%;

            span {
                display: none;
            }

            a {
                display: block;
                float: right;
                height: image-height(sprite-file($icons-sprite-map, english_large));

                &.active {
                    display: none;
                }  
            }

            #english {
                @include sprite-replace-text-with-dimensions($icons-sprite-map, english_large);            
            }
            
            #norwegian {
                @include sprite-replace-text-with-dimensions($icons-sprite-map, norwegian_large);
            }
        }
    }

    nav {
        width: 100%;
        clear: both; 

        ul {
            @include horizontal-list;

            li {
                background: $colour1;
                border-right: 1px solid #fff;
                width: 33.333%;
                padding: 0;
                display: none;
                @include transition-property(background-color);
                @include transition-duration(.3s);

                &:last-child {
                    border-right: 0;
                    width: 33.334%;
                }

                &.hidden {
                    display: none;
                }

                &.menulink,
                &.sticky {
                    display: block;
                }

                &.active,
                &:hover {
                    background-color: darken($colour1, 10%);
                }

                &.highlighted {
                    background-color: $colour2;

                    &.active,
                    &:hover {
                        background-color: darken($colour2, 10%);
                    }
                }

                &.call-to-action {
                    background-color: $colour3;

                    &.active,
                    &:hover {
                        background-color: darken($colour3, 10%);
                    }
                }

                a {
                    display: block;
                    width:   100%;
                    height:  100%;
                }
            }
        }
    }
}

.slider-wrapper {
    position: relative;
    margin: 0 0 1em 0;
    zoom: 1;
    @extend .clearfix;

    a:active, a:focus {
        outline: none;
    } 

    .slider {
        background: #fff; 
        position: relative; 
        zoom: 1;

        .slides {
            margin: 0; 
            padding: 0; 
            list-style: none;
            zoom: 1;

            & > li {
                display: none; 
                -webkit-backface-visibility: hidden; /* Hide the slides before the JS is loaded. Avoids image jumping */
                position: relative;
                
                h3 {
                    @include overlay-text-layout;
                    @include button-arrow(1em);
                }

                .imagemask {
                    position: relative;
                    line-height: 0;
                    img {
                        width: 100%;
                    }
                }

                .description,
                .readon {
                    display: none;
                }
            }
        }
    }

    /* bullets underneath the slider */
    .flex-control-nav { 
        @include horizontal-list(0);
        height: image-height(sprite-file($icons-sprite-map, navbullet_off)); 
        background-color: #eee;
        @include background-image(linear-gradient(#fcfcfc, #dfdfdf));
        text-align: center;

        li {
            float: none;
            a {
                width: image-width(sprite-file($icons-sprite-map, navbullet_off));
                height: image-height(sprite-file($icons-sprite-map, navbullet_off)); 
                @include sprite-replace-text($icons-sprite-map, navbullet_off); 
                cursor: pointer; 
                display: inline-block;

                &:hover {
                    @include sprite($icons-sprite-map, navbullet_hover);
                }

                &.active {
                    @include sprite($icons-sprite-map, navbullet_on);
                    cursor: default;
                }
            }
        }
    }
}

#product_categories {

    padding: 0 1.231em;
    margin-bottom: 1em;
    @extend .clearfix;

    article {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 1em;

        a {
            display: block;
            width: 100%;
            line-height: 0;
            @extend .clearfix;

            .imageholder {
                position: relative;
                display: block;
                width: 100%;
                line-height: 0;
                @include inner-shadow(20px);
                @include double-border;

                img {
                    width: 100%;
                }

                h3 {
                    position: absolute;
                    bottom: -2.5em;
                    left: -5px;

                    @media screen and (orientation:landscape) {
                        left: 0;
                        @include overlay-text-layout;
                    }
                }
            }

            .description {
                margin-top: 3em;
                @media screen and (orientation:landscape) {
                    margin-top: 1em;
                }
            }
        }
    }
}

#subpage {
    @include pie-clearfix;
    border-top: em(8,16) solid darken($colour1, 10%);
    #contents {
        padding: 1em;
    }
}

footer {
    padding: 1em;
    background-color: $colour1;
    color: #fff;
    float: left;
    width: 100%;
    border-top: 4px solid $separator-colour;

    nav { 
        @extend .clearfix;
        margin-bottom: 1em;

        ul {
            float: left;
            padding: 0;
            margin: 0;
            list-style:none;
            width: 100%;
        }

        > ul > li {
            width: 100%;
            clear: both;
            float: left;
            margin-bottom: 1em;
            display: none;

            &.normal {
                display: block;
            }

            > ul {

                > li {
                    width: 100%;
                    border-bottom: 1px solid $colour1;
                    background-color: darken($colour1, 5%);

                    &:first-child {
                        @include border-top-radius();
                    }
                    
                    &:last-child {
                        @include border-bottom-radius();
                        border-bottom: 0;
                    }

                    a {
                        display: block;
                        padding: 0 1em;
                        width: 100%;
                        line-height: 3.143em;
                    }
                }
            }
        }
    }

    #contact {
        width: 100%;
        @extend .clearfix;

        h3 {
            margin-top: 0;
        }

        #company_contact {

            & > * {
                line-height: 1.5em;
            }

            [itemprop="name"] {
                display: none;
            }

            [itemprop="telephone"],
            [itemprop="url"] {
                width: 100%;
                display: block;
                clear: both;
                margin-bottom: .5em;
            }

            .icon {
                @include inline-icon;
                margin-top: em(2,16);
            }

            #phone-icon {
                @include sprite-replace-text-with-dimensions($icons-sprite-map, phone_white); 
            }

            #facebook-icon {
                @include sprite-replace-text-with-dimensions($icons-sprite-map, facebook_white); 
            }
        }

        & > [itemprop="address"] {
            position: relative;
            @extend .clearfix;
            background-color: darken($colour1, 10%);
            @include border-radius();
            padding: 1.125em;
            margin-top: 1em;
            max-width: 24em;

            span {
                width: 100%;
                display: block;
                clear: both;
            }

            [itemprop="addressRegion"],
            [itemprop="addressCountry"] {
                display: none;
            }

            [itemprop="addressLocality"],
            [itemprop="postalCode"] {
                width: auto;
                float: left;
                margin-right: .5em;
                clear: none;
            }

            [itemprop="url"] {
                float: left;
                width: auto;
                @include button;
                @include button-arrow;
                clear: both;
                margin-top: .5em;
                margin-bottom: 0;
            }

            #map {
                position: absolute;
                right: -5px;
                top: -5px;
            }
        }

    }

    #copyright {
        clear: both;
        width: 100%;
        margin-top: 2em;
    }
}