@media screen and (min-width: $break-3) { 

    /* If we're not on a touch device, we can fit in some extra content */
    .no-touch {
        header {
            #extra {
                margin-top: 1em;

                #contact_short {
                    display: block;

                    .phone, 
                    .email {
                        float: right;
                        line-height: image-height(sprite-file($icons-sprites, email));
                        margin-right: 2em;
                    }

                    .email_icon,
                    .phone_icon {
                        @include inline-icon;
                    }

                    .email_icon {
                        @include sprite-replace-text-with-dimensions($icons-sprites, email); 
                    }

                    .phone_icon {
                        @include sprite-replace-text-with-dimensions($icons-sprites, phone); 
                    }
                }

                #language {
                    padding-top: 2px;
                    height: image-height(sprite-file($icons-sprites, english_small));
                    width:  2.5*image-width(sprite-file($icons-sprites, english_small));

                    span {
                        display: none;
                    }

                    a {
                        &.active {
                            display: block;
                        }
                        
                        &.inactive {
                            opacity: .4;
                        }  

                        &#english {
                            @include sprite-replace-text-with-dimensions($icons-sprites, english_small);            
                            float: left;
                        }

                        &#norsk {
                            @include sprite-replace-text-with-dimensions($icons-sprites, norwegian_small);
                            float: right;
                        }
                    }
                }
            }
        }
    }

    header {
        margin-bottom: 0;

        #logo {
            width: 25%;
        }

        #extra {
            width: 70%;
        }

        nav ul {

            li {
                margin-top: 5px;
                width: 20%;
                display: block;                
                margin-bottom: 0;


                &:last-child {
                    width: 20%;
                }

                &.menulink {
                    display: none;
                }

                a {
                    border-bottom: 1px solid #fff;
                }

                &.active {
                    margin-top: 0;
                    padding-top: 5px;
                    @include border-top-radius;

                    a {
                        border-bottom: 1px solid darken($colour1, 10%);
                    }
                }

                &.highlighted.active a {
                    border-bottom: 1px solid darken($colour2, 10%);
                }

                &.call-to-action.active a {
                    border-bottom: 1px solid darken($colour3, 10%);
                }
            }

            #menu_footer_link {
                display: none;
            }
        }
    }

    .slider-wrapper {
        .slider {
            .slides {
                & > li {
                    h3 {
                        bottom: 1em;
                    }
                }
            }
        }
    }

    #product_categories {
        padding: 0;
        
        article {
            width: 50%;
            padding: em(16,13);
            margin-bottom: 0;

            a {
                .imageholder {
                    h3 {
                        left: 0;
                        @include overlay-text-layout;
                    }
                }

                .description {
                    margin-top: 1em;
                }
            }   
        }
    }

    #subpage {
        border-top: em(8,16) solid darken($colour1, 10%);
        
        .wrap {
            #menutoggle {
                display: none;
            }

            nav {

                html.js & {
                    display: block !important;
                }

                background-color: #f4f4f4;
                border-bottom: 1px solid #dedede;
                padding: 0;

                & > ul {
                    & > li {
                        &.active {
                            width: 100%;
                            & > a {
                                display: none;
                            }

                            ul {
                                @include horizontal-list(em(12,14));
                                margin: 0;
                                padding: 0 em(16,14);

                                li {
                                    border: none;
                                    width: auto;
                                    clear: none;

                                    a {
                                        background-image: none;

                                        &:hover {
                                            text-indent: 0;
                                        }
                                    }

                                    &.active a {
                                        background-color: transparent;
                                        @include box-shadow(inset 0 0 0 rgba(0,0,0,0));
                                    }
                                }
                            }  
                        }
                    }
                }
            }

            #contents {
                padding: 1em;

                html.js & h1 {
                    display: block;
                }

                section.blog {
                    clear: both;
                    @include pie-clearfix;
                    article {
                        width: 47%;
                        margin-right: 5.99%;
                        margin-bottom: 5.99%;
                        clear: left;
                        float: left;
                        &:nth-child(even) {
                            margin-right: 0;
                            clear: right;
                        }
                    }
                }
            }
        }
    }

    footer {
        nav > ul {

            > li {
                width: 33.333%;
                clear: none;
                padding-right: 1em;
            }

            > li:last-child {
                width: 33.334%;
                padding-right: 0;
            }
        }

        #contact {
            position: relative;

            #company_contact {
                width: 50%;
                float: left;
            }

            [itemprop="address"] {
                float: right;
                width: 45%;

                #map {
                    display: block;
                }
            }
        }
    }
}