@media screen and (min-width: $break-2) {
    footer {
        #contact {
            position: relative;

            #company_contact {
                width: 50%;
                float: left;
            }

            [itemprop="address"] {
                float: right;
                width: 50%;
                margin-top: em(33,16)*-1;

                #map {
                    display: none;
                }
            }
        }
    }
} 