@media screen and (min-width: $break-medium) { 

    header {
        nav ul {

            li, li:last-child {
                width: 20%;
            }

            li.normal {
                display: block;
            }

            li:not(.normal) {
                background: url(../images/skagen/arrow.png) no-repeat 95% 50%;
            }

            #menu_footer_link {
                display: none;
            }
        }
    }

    #slider {
        height: $break-medium/$slide-size;
    }

    #product_categories {
        article {
            width: 50%;
            padding: 1em;
            margin-bottom: 0;

            a {
                .imageholder {
                    h3 {
                        left: 0;
                        @include overlay-text-layout;
                    }
                }

                .description {
                    margin-top: 1em;
                }
            }   
        }
    }

    footer {
        nav > ul {

            > li {
                width: 33.333%;
                clear: none;
                padding-right: 1em;
            }

            > li:last-child {
                width: 33.334%;
                padding-right: 0;
            }
        }
    }
}