@media screen and (min-width: $break-6) {

    header {
        #logo {
            width: 20%;
        }

        nav {
            width: 60%;
        }
    }

    .slider-wrapper {
        .slider {
            .slides {
                & > li {
                    & > a {
                        display: block;
                        @include pie-clearfix;

                        .infobox {
                            bottom: 1em + (image-height(sprite-file($icons-sprite-map, navbullet_off))/16px*1em);
                            
                            .description {
                                width: 100%;
                                margin-bottom: 1em;
                            }

                            .readon {
                                @include button-arrow(.35em, 'button_arrow_white_red');
                            }
                        }
                    }
                }
            }
        }

        .flex-control-nav {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            background-image: none;
            background-color: transparent;
        }
    }

    #subpage {
        padding: 1em;

        .wrap {

            nav {
                width: 15%;
                float: left;
                margin-right: 5%;
                background: none;
                border-bottom: none;

                > ul {
                    @include subnav;
                }
            }

            #contents {
                width: 45%;
                float: left;
                padding: 0;
            }

            #sidebar {
                width: 30%;
                float: right;
                margin-right: 0;
            }

        }
    }
}