@media screen and (min-width: $break-6) {

    header {
        #logo {
            width: 20%;
        }

        nav {
            width: 60%;
        }
    }

    .slider-wrapper {
        .slider {
            .slides {
                & > li {
                    & > a {
                        display: block;
                        @include pie-clearfix;

                        .infobox {
                            bottom: 1em + (image-height(sprite-file($icons-sprite-map, navbullet_off))/16px*1em);
                            
                            .description {
                                width: 100%;
                                margin-bottom: 1em;
                            }

                            .readon {
                                @include button-arrow(.35em, 'button_arrow_white_red');
                            }
                        }
                    }
                }
            }
        }

        .flex-control-nav {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            background-image: none;
            background-color: transparent;
        }
    }

    #subpage {
        padding: 1em;

        .wrap {

            nav {
                width: 15%;
                float: left;
                margin-right: 5%;
                background: none;
                border-bottom: none;

                > ul {
                    width: 100%;

                    > li.active {
                        width: 100%;
                        margin-right: 0;
                        
                        > a {
                            @include border-top-radius;
                            display: block;
                            background-color: $colour2;
                            padding: 0 8%;
                            border-bottom: em(8,16) solid darken($colour2, 10%);
                        }

                        ul  {
                            width: 100%;
                            background-color: #f4f4f4;
                            @include border-bottom-radius;

                            li {
                                width: 100%;
                                clear: both;
                                margin: 0;
                                padding: 0;
                                border-top: 1px solid #fafafa;
                                border-bottom: 1px solid #dedede;

                                &:first-child {
                                    border-top: none;
                                }

                                &:last-child {
                                    border-bottom: none;
                                }

                                &.active {
                                    border-top: none;
                                    border-bottom: none;
                                    a {
                                        @include box-shadow(inset 0 0 4px rgba(0, 0, 0, 0.4));
                                        @include sprite-img('skagen/icons/submenu_arrow_active.png', 1, 1, 100%, 100%, 50%);
                                        background-color: $colour1;
                                        background-position: 92% center;
                                    }
                                }

                                a {
                                    display: block;
                                    padding: 0 8%;
                                    @include sprite-img('skagen/icons/submenu_arrow_inactive.png', 1, 1, 100%, 100%, 50%);
                                    background-position: 92% center;

                                    &:hover {
                                        text-indent: .5em;
                                    }

                                    @include single-transition(text-indent, .2s); 
                                }
                            }
                        }
                    }
                }
            }

            #contents {
                width: 45%;
                float: left;
                padding: 0;
            }

            #sidebar {
                width: 30%;
                float: right;
                margin-right: 0;
            }

        }
    }
}