@media screen and (min-width: $break-small) { 
    header {
        #logo {
            width: 190px;
        }

        #extra {
            width: 100px;
        }
    }

    #slider {
        height: $break-small/$slide-size;
    }
}