@mixin inner-shadow($size: 10px) {
    @include box-shadow(inset 0 0 $size rgba(0, 0, 0, 0.5));

    & > img {
        z-index: -1;
        position: relative;
    }

    &:hover {
        @include box-shadow(inset 0 0 $size*1.25 rgba(0, 0, 0, 0.75));
    }

    &:active {
        @include box-shadow(inset 0 0 $size*1.5 rgba(0, 0, 0, 0.85));
    }

    @include single-transition(box-shadow, .3s); 
}

@mixin double_border($distance: 4px, $size: 1px) {
    border: $distance solid $background-colour;
    outline: $size solid $border-colour;
}

@mixin overlay-text-layout() {
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 0 2em 0 1em;
    float: left;
    margin: 0;
}

@mixin overlay-text-typography() {
    font-size: 1em;
    font-weight: normal;
    line-height: 2.5em;
    @include rgba-background(rgba(0,0,0,0.8));
    @include link-colors(#fff, #fff, #fff, #fff, #fff);
}