.clearfix {
    @include pie-clearfix;
}

@mixin inner-shadow($size: 10px) {
    @include box-shadow(inset 0 0 $size rgba(0, 0, 0, 0.5));

    & > img {
        z-index: -1;
        position: relative;
    }

    &:hover {
        @include box-shadow(inset 0 0 $size*1.25 rgba(0, 0, 0, 0.75));
    }

    &:active {
        @include box-shadow(inset 0 0 $size*1.5 rgba(0, 0, 0, 0.85));
    }

    @include single-transition(box-shadow, .3s); 
}

@mixin double_border($distance: 4px, $size: 1px) {
    border: $distance solid $background-colour;
    outline: $size solid $border-colour;
}

@mixin overlay-text-layout() {
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 0 1em 0 1em;
    float: left;
    margin: 0;
}

@mixin overlay-text-typography() {
    font-size: em(16,14);
    font-weight: normal;
    line-height: em(40,16);
    @include rgba-background(rgba(0,0,0,0.6));
    @include link-colors(#fff, #fff, #fff, #fff, #fff);
    @include single-text-shadow(#000);
}

@mixin inline-icon {
    float: left;
    margin-right: .5em;
}

@mixin button ($bgcolor: $colour1) {
    @include border-radius();
    background-color: darken($bgcolor, 20%);
    padding: 1em;
}

@mixin button-arrow ($margin-top: 0, $button-arrow: 'button_arrow') {
    &:after {
        display: block;
        float: right;
        @if ($margin-top != 0) {
            margin-top: $margin-top;
        }
        margin-left: .5em;
        content: "";
        width: image-width(sprite-file($icons-sprites, $button-arrow));
        height: image-height(sprite-file($icons-sprites, $button-arrow));
        @include sprite-replace-text-with-dimensions($icons-sprites, $button-arrow);
    }
}

@function em($target, $context) {
    @return ($target / $context) * 1em;
}

@mixin subnav($show-parent: true) {

    width: 100%;
    @include pie-clearfix;
    margin: 0;
    padding: 0;

    > li {
        display: none;
        margin-bottom: 0;
        
        &.active {
            display: block;
            width: 100%;
            margin-right: 0;
            
            > a {
                @if $show-parent == true {
                    @include border-top-radius;
                    display: block;
                    background-color: $colour2;
                    padding: 0 8%;

                    @media screen and (min-width: $break-3) {
                        padding: 0;
                    }

                    @media screen and (min-width: $break-6) {
                        padding: 0 8%;
                    }
                    
                    border-bottom: em(8,16) solid darken($colour2, 10%);
                } @else {
                    display: none;
                }
            }

            ul  {
                width: 100%;
                margin: 0;
                padding: 0;

                @if $show-parent == true {
                    background-color: #f4f4f4;
                    @include border-top-radius(0);
                    @include border-bottom-radius;
                } @else {
                    border: 6px solid rgba($colour2, 0.3);
                    @include border-radius;
                }

                li {
                    width: 100%;
                    clear: both;
                    margin: 0;
                    padding: 0;
                    border-top: 1px solid #fafafa;
                    border-bottom: 1px solid #dedede;
                    @if $show-parent == false {
                        background-color: #f4f4f4;
                    }

                    &:first-child {
                        border-top: none;
                        @if $show-parent == false {
                            @include border-top-radius;
                        } @else {
                            @include border-top-radius(0);
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                        @if $show-parent == false {
                            @include border-top-radius;
                        }
                    }

                    &.active {
                        border-top: none;
                        border-bottom: none;
                        a {
                            @include box-shadow(inset 0 0 4px rgba(0, 0, 0, 0.4));
                            @include sprite-img('skagen/icons/submenu_arrow_active.png', 1, 1, 100%, 100%, 50%);
                            background-color: $colour1;
                            background-position: 92% center;
                        }
                    }

                    a {
                        display: block;
                        padding: 0 8%;
                        @media screen and (min-width: $break-3) {
                            padding: 0;
                        }

                        @media screen and (min-width: $break-6) {
                            padding: 0 8%;
                        }
                        @include sprite-img('skagen/icons/submenu_arrow_inactive.png', 1, 1, 100%, 100%, 50%);
                        background-position: 92% center;

                        &:hover {
                            text-indent: .5em;
                        }

                        @include single-transition(text-indent, .2s); 
                    }
                }
            }
        }
    }
}