.no-touch {
    .slider-wrapper {
        .flex-control-nav { 
            height: image-height(sprite-file($icons-sprite-map, navbullet_small_off)); 

            li {
                a {
                    width: image-width(sprite-file($icons-sprite-map, navbullet_small_off));
                    height: image-height(sprite-file($icons-sprite-map, navbullet_small_off)); 
                    @include sprite-replace-text($icons-sprite-map, navbullet_small_off); 

                    &:hover {
                        @include sprite($icons-sprite-map, navbullet_small_hover);
                    }

                    &.active {
                        @include sprite($icons-sprite-map, navbullet_small_on);
                        cursor: default;
                    }
                }
            }
        }
    }

    footer {
        nav {
            ul > li {
                h3 {
                    margin-bottom: .5em;
                }

                > ul {

                    > li {
                        @include border-radius(0);
                        background: none;
                        border-bottom: none;

                        a {
                            padding: 0;
                        }
                    }
                }
            }
        }

        #contact {
            & > [itemprop="address"] {
                [itemprop="url"] {
                    padding: .5em;
                }
            }
        }
    }
}