.no-touch {

    #subpage {
        .wrap {
            nav {
                line-height: em(40,14);
                @media screen and (min-width: $break-6) {
                    // Compensate for 1px borders top and bottom
                    line-height: em(38,14);
                }

                & > ul > li.active {
                    > a {
                        @media screen and (min-width: $break-6) {
                            // Compensate for border underneath link
                            line-height: em(32,14);
                            padding-top: em(8,14);
                        }
                    }

                    > ul > li:first-child {
                        @media screen and (min-width: $break-6) {
                            // Compensate for 1px border
                            line-height: em(39,14);
                        }
                    }
                }
            }
        }
    }

    footer nav ul > li > ul > li a {
        line-height: 1.5 * em(16,13);
        text-decoration: underline;
        $f-link-color: rgba(255,255,255,0.8);
        @include link-colors($f-link-color, $f-link-color, $f-link-color, $f-link-color, $f-link-color);
    }
}