/* settings */
$template-style-folder : 'skagen';
$colour1               : #0d4c84;
$colour2               : #333;
$colour3               : #cd233c;
$separator-colour      : $colour3;

/* CSS */
header {
    #logo {
        max-width: 308px;
    }
}