@include establish-baseline;

@media screen and (min-width: $break-7) {
    $base-font-size: 18px;
    @include establish_baseline;
}

$blockquote-border-color : #ccc;
$blockquote-border-width : ($base-font-size/4)/$base-font-size*1em;

@function em($target, $context) {
    @return ($target / $context) * 1em;
}

body {
    color: $text-colour;
    font-family: $body-fonts;
}

a {
    @include link-colors($colour1, $colour1, $colour1, $colour1, $colour1);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;
        @include link-colors($colour1, $colour1, $colour1, $colour1, $colour1);
    }
}

$headlines: 36px 28px 20px 16px 13px 11px;
$leaders:    0.5  0    0    0    0    0;
$trailers:   0.5  0.5  0.5  0.5  0.5  0.5;

@for $i from 1 through 6 {
    h#{$i} {
        @include adjust-font-size-to(nth($headlines, $i));
        @media screen and (min-width: $break-7) {
            @include adjust-font-size-to(nth($headlines, $i)*18/16);
        }
        @include leader(nth($leaders, $i), nth($headlines, $i));
        @include trailer(nth($trailers, $i), nth($headlines, $i));
        font-family: $headline-fonts;
        font-weight: normal;
        color: $text-colour;
        @if $i > 4 {
            text-transform: uppercase;
        }
    }
}

h1 {
    color: $colour1;
}

body {
    font-family: $body-fonts;
}

a {
    @include link-colors(#000, #000, #000, #000, #000);
}

p, ul, ol {
    @include trailer;
}

ul {
    padding-left: 2em;
    list-style: disc;
    > li {
        @include trailer(0.5);
    }
}

ol {
    padding-left: 2em;
    list-style: decimal;
    > li {
        @include trailer(0.5);
    }
}

blockquote {
    font-size: em(18,15);
    background-color: rgba(0,0,0,0.05);
    margin-bottom: rhythm(1);
    border-left: $blockquote-border-width solid $blockquote-border-color;
    float: left;
    padding: rhythm(0.5,18px);
    @include trailer(1,18px);

    small {
        font-size: em(13,18);
        display: block;
        color: #666;
        &:before {
            content: '\2014 \00A0';
        }
    }

    // Float right with text-align: right
    &.pull-right {
        float: right;
        border-right: $blockquote-border-width solid $blockquote-border-color;
        border-left: 0;
        text-align: right;
    }

    &.quote {
        font-family: $headline-fonts;
        font-style: italic;
        color: #444;
    }

    &.pullout {
        font-weight: 700;
        color: #444;

        small {
            font-weight: normal;
        }
    }
}