$base-font-size: 16px;

@include establish_baseline;

@media screen and (min-width: $break-xlarge) {
    $base-font-size: 18px;
    @include establish_baseline;
}

body {
    color: $text-colour;
}

a {
    @include link-colors($colour1, $colour2, #c00, #ccc, #cc0);
}

header {

    #language {
        font-size: em(11,16);
        text-align: center;
    }

    #contact_short {
        font-size: em(12,16);
        color: #000;
        font-weight: bold;

        a {
            @include link-colors(#000, #000, #000, #000, #000);
            text-decoration: none;
        }
    }

    nav ul {
        li {
            text-align: center;
            a {
                font-size: em(12,16);
                line-height: em(40,12);
                text-transform: uppercase;
                text-decoration: none;
                @include link-colors(#fff, #fff, #fff, #fff, #fff);
            }
        }
    }
}

.slider-wrapper .slides > li > a {
    @include link-colors(#fff, #fff, #fff, #fff, #fff);
    text-decoration: none;

    & > h3 {
        @include overlay-text-typography;
    }
}

#product_categories {
    font-size: em(13,16);

    a {
        text-decoration: none;
        @include link-colors($text-colour, $text-colour, $text-colour, $text-colour, $text-colour);

        h3 {
            @media screen and (orientation:landscape) {
                @include overlay-text-typography;
            }

            @media screen and (min-width: $break-medium) {
                @include overlay-text-typography;   
            }
        }

        .description {
            line-height: 1.5em;

            @media screen and (min-width: $break-medium) {
                margin-top: 1em;
            }
        }
    }
}

footer {
    a {
        @include link-colors(#fff, lighten($colour1, 50%), #c00, #fff, #cc0);
        text-decoration: none;
    }

    nav a {
        font-size: em(14,16);
    }

    h3 a {
        font-size: em(16,16);
    }

    h3 {
        text-transform: uppercase;
        color: #fff;
    }

    #contact {
        font-size: em(14,16);

        [itemprop="telephone"],
        [itemprop="url"] {
            line-height: image-height(sprite-file($icons-sprite-map, button_arrow)); // match the icons size
        }

        [itemprop="address"] a {
            font-size: em(12,14);
        }
    }

    #copyright {
        font-size: em(12,16);
        opacity: .6;
    }
}