@mixin product-grid-typography {
    font-size: em(14,16);

    a {
        text-decoration: none;
        @include link-colors($text-colour, $text-colour, $text-colour, $text-colour, $text-colour);

        h2,h3 {
            @include overlay-text-typography;
            font-size: em(18,14);
        }

        .description {
            line-height: 1.5em;
            margin-bottom: 0;
            margin-top: 1em;
        }
    }

    a.readon {
        @include link-colors($colour1, $colour1, $colour1, $colour1, $colour1);
        text-decoration: underline;
    }
}

header {

    #language {
        font-size: em(11,16);
        text-align: center;
    }

    #contact_short {
        font-size: em(12,16);
        color: #000;
        font-weight: bold;

        a {
            @include link-colors(#000, #000, #000, #000, #000);
            text-decoration: none;
        }
    }

    nav ul {
        li {
            text-align: center;
            a {
                font-family: $headline-fonts;
                font-size: em(13,16);
                font-weight: bold;
                line-height: em(40,12);
                text-transform: uppercase;
                text-decoration: none;
                @include link-colors(#fff, #fff, #fff, #fff, #fff);
            }
        }
    }
}

.slider-wrapper .slides > li > a {
    @include link-colors(#fff, #fff, #fff, #fff, #fff);
    text-decoration: none;

    h3 {
        @include overlay-text-typography;

        @media screen and (min-width: $break-3) {
            font-size: em(24,16);
        }

        @media screen and (min-width: $break-6) {
            font-size: em(32,16);
            line-height: 1.5em;   
        }
    }

    .description,
    .readon {
        font-size: em(14,16);
    }
}

#product_categories {
    article {
        @include product-grid-typography;
    }
}

#subpage {
    .wrap {
        #menutoggle {
            span {
                &.level_1 {
                    text-transform: uppercase;
                    color: #999;
                    font-size: em(11,16);
                    line-height: em(14,11);
                }

                &.level_2 {
                    color: $colour1;
                    font-size: em(22,16);
                }
            }
        }

        nav {
            font-size: em(14,16);
            line-height: em(47,14);
            font-weight: normal;

            @media screen and (min-width: $break-6) {
                // Compensate for 1px borders top and bottom
                line-height: em(46,14);
                font-size: em(14,16);
            }


            > ul {
                > li.active {
                    > a {
                        @include link-colors(#fff, #fff, #fff, #fff, #fff);
                        text-decoration: none;
                        text-transform: uppercase;

                        @media screen and (min-width: $break-6) {
                            // Compensate for border underneath link
                            line-height: em(39,14);
                            padding-top: em(8,14);
                        }

                        &:after {
                            content: ' :';
                        }
                    }

                    > ul {
                        > li {
                            > a {
                                @include link-colors(#666, #666, #666, #666, #666);
                                text-decoration: none;

                                &:hover {
                                    color: darken(#666, 15%);
                                }
                            }

                            &.active a {
                                text-decoration: none;
                                @include link-colors(#fff, #fff, #fff, #fff, #fff);
                                
                                // Horizontal menu with different colours in the medium sizes
                                @media screen and (min-width: $break-3) {
                                    @include link-colors($colour1, $colour1, $colour1, $colour1, $colour1);
                                    text-decoration: underline;                                    
                                }

                                @media screen and (min-width: $break-6) {
                                    text-decoration: none;
                                    @include link-colors(#fff, #fff, #fff, #fff, #fff);                               
                                }
                            }

                            &:first-child {
                                @media screen and (min-width: $break-6) {
                                    // Compensate for 1px border
                                    line-height: em(47,14);
                                }
                            }
                        } 
                    }

                }
            }
        }

        #contents {
            section.blog {
                article {
                    @include product-grid-typography;
                }
            }

            .article-image-wrapper {
                #swipe-instructions {
                    a {
                        @include link-colors(#fff, #fff, #fff, #fff, #fff);
                        text-decoration: none;
                        font-weight: bold;
                        line-height: 1.25em;
                        @include single-text-shadow(rgba(0,0,0,0.4), 1px, 1px, 3px);

                        span {
                            color: white;
                        }
                    }
                }
            }
        }

        aside {
            h3 {
                font-size: em(30,16);
            }
        }
    }
}

@mixin footer-headline {
    display: block;
    color: #fff;
    font-size: em(18,16);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5em;
    font-family: $headline-fonts;  
}

footer {

    a {
        @include link-colors(#fff, #fff, #fff, #fff, #fff);
        text-decoration: none;
    }

    nav {
        li {
            &.parent {
                > a {
                    @include footer-headline;
                }
            }

            a {
                font-size: em(13,16);
            }
        }

    }

    h3 {
        @include footer-headline;
    }

    #contact {
        font-size: em(14,16);

        [itemprop="telephone"],
        [itemprop="url"] {
            line-height: image-height(sprite-file($icons-sprites, button_arrow)); // match the icons size
        }

        [itemprop="address"] a {
            font-size: em(12,14);
        }
    }

    #copyright {
        font-size: em(12,16);
        opacity: .6;
    }
}