@include establish_baseline(16px);

@media screen and (min-width: $break-xlarge) {
    @include establish_baseline(18px);
}

body {
    color: $text-colour;
}

a {
    @include link-colors($colour1, $colour2, #c00, #ccc, #cc0);
}

header {

    #language {
        font-size: .6875em;
        text-align: center;
    }

    #contact_short {
        font-size: .75em;
        color: #000;
        font-weight: bold;

        a {
            @include link-colors(#000, #000, #000, #000, #000);
            text-decoration: none;
        }
    }

    nav ul {
        li {
            text-align: center;
            a {
                font-size: .75em;
                line-height: 3.333em;
                text-transform: uppercase;
                text-decoration: none;
                @include link-colors(#fff, #fff, #fff, #fff, #fff);
            }
        }
    }
}

.flexslider > .slides > li > a {
    @include link-colors(#fff, #fff, #fff, #fff, #fff);
    text-decoration: none;

    & > h3 {
        @include overlay-text-typography;
    }
}

#product_categories {
    font-size: .8125em;

    a {
        text-decoration: none;
        @include link-colors($text-colour, $text-colour, $text-colour, $text-colour, $text-colour);

        h3 {
            @media screen and (orientation:landscape) {
                @include overlay-text-typography;
            }

            @media screen and (min-width: $break-medium) {
                @include overlay-text-typography;   
            }
        }

        .description {
            line-height: 1.5em;

            @media screen and (min-width: $break-medium) {
                margin-top: 1em;
            }
        }
    }
}

footer {
    a {
        @include link-colors(#fff, lighten($colour1, 50%), #c00, #fff, #cc0);
        text-decoration: none;
    }

    nav a {
        font-size: .875em;
    }

    h3 a {
        font-size: 1em;
    }

    h3 {
        text-transform: uppercase;
        color: #fff;
    }

    #contact {
        font-size: .875em;

        [itemprop="telephone"],
        [itemprop="url"] {
            line-height: image-height(sprite-file($icons-sprite-map, button_arrow)); // match the icons size
        }

        [itemprop="address"] a {
            font-size: .875em;
        }
    }

    #copyright {
        font-size: .75em;
        opacity: .6;
    }
}