/* libraries */
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* initialization, variables */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../sass/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../sass/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../sass/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../sass/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, ../sass/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../sass/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../sass/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********************** 
  LOCATION
***********************/
/*********************** 
  TYPOGRAPHY

  more configuration options: http://compass-style.org/reference/compass/typography/vertical_rhythm/ 
***********************/
/*********************** 
  COLOUR
***********************/
/*********************** 
  ROUNDED CORNERS
***********************/
/*********************** 
  BREAKPOINTS
***********************/
/* Site might not look good below this */
/* which style specific CSS to use. Change "example" to "mystyle" */
/* line 154, example/icons/*.png */
.icons-sprite {
  background: url('../images/example/icons-sef0cb7ec0b.png') no-repeat;
}

/* layout */
/* General */
/* line 3, ../sass/_layout_240.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/templates/responsive_template/script/boxsizing.htc);
  /* box sizing hack/polyfill for IE6/7, see https://github.com/Schepp/box-sizing-polyfill */
}

/* line 11, ../sass/_layout_240.scss */
body > * {
  width: 100%;
  clear: both;
}

/* line 17, ../sass/_layout_240.scss */
header {
  *zoom: 1;
  margin-bottom: 1px;
  position: relative;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, ../sass/_layout_240.scss */
header #logo {
  float: left;
  width: 65%;
  margin: 1em 0 1em 1em;
  line-height: 0;
}
/* line 28, ../sass/_layout_240.scss */
header #logo img {
  width: 100%;
}
/* line 33, ../sass/_layout_240.scss */
header #extra {
  *zoom: 1;
  position: absolute;
  right: 0;
  bottom: 3.5em;
  width: 30%;
  /* make room for logo */
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header #extra:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, ../sass/_layout_240.scss */
header #extra #contact_short {
  display: none;
  float: right;
  margin: 1.333em 0 0 0;
}
/* line 47, ../sass/_layout_240.scss */
header #extra #language {
  *zoom: 1;
  margin: 1.455em 1.455em 0 0;
  float: right;
  text-align: center;
  width: 100%;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header #extra #language:after {
  content: "";
  display: table;
  clear: both;
}
/* line 55, ../sass/_layout_240.scss */
header #extra #language span {
  display: none;
}
/* line 59, ../sass/_layout_240.scss */
header #extra #language a {
  display: block;
  float: right;
  height: 22px;
}
/* line 64, ../sass/_layout_240.scss */
header #extra #language a.active {
  display: none;
}
/* line 69, ../sass/_layout_240.scss */
header #extra #language #english {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -90px;
  height: 22px;
  width: 30px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
}
/* line 73, ../sass/_layout_240.scss */
header #extra #language #norwegian {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -203px;
  height: 22px;
  width: 30px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
}
/* line 79, ../sass/_layout_240.scss */
header nav {
  width: 100%;
  clear: both;
}
/* line 83, ../sass/_layout_240.scss */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  background: #666;
}
/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:first-child, header nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li.last {
  padding-right: 0;
}
/* line 88, ../sass/_layout_240.scss */
header nav ul li {
  border-right: 1px solid #fff;
  width: 33.333%;
  padding: 0;
}
/* line 93, ../sass/_layout_240.scss */
header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 100, ../sass/_layout_240.scss */
header nav ul li:last-child {
  border-right: 0;
  width: 33.334%;
}
/* line 105, ../sass/_layout_240.scss */
header nav ul li.normal {
  display: none;
}

/* line 113, ../sass/_layout_240.scss */
.slider-wrapper {
  position: relative;
  margin: 0 0 1em 0;
  *zoom: 1;
  /* bullets underneath the slider */
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.slider-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 120, ../sass/_layout_240.scss */
.slider-wrapper .slides h3 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  padding: 0 1em 0 1em;
  float: left;
  margin: 0;
}
/* line 54, ../sass/_mixins.scss */
.slider-wrapper .slides h3:after {
  display: block;
  float: right;
  margin-top: 0.9em;
  margin-left: .5em;
  content: "";
  width: 13px;
  height: 13px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -334px;
  height: 13px;
  width: 13px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
  opacity: .8;
}
/* line 125, ../sass/_layout_240.scss */
.slider-wrapper .slides .imagemask {
  position: relative;
}
/* line 127, ../sass/_layout_240.scss */
.slider-wrapper .slides .imagemask img {
  width: 100%;
}
/* line 133, ../sass/_layout_240.scss */
.slider-wrapper .slides .description,
.slider-wrapper .slides .readon {
  display: none;
}
/* line 139, ../sass/_layout_240.scss */
.slider-wrapper .flex-control-nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  height: 45px;
  background-color: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(#fcfcfc, #dfdfdf);
  background-image: -moz-linear-gradient(#fcfcfc, #dfdfdf);
  background-image: -o-linear-gradient(#fcfcfc, #dfdfdf);
  background-image: -ms-linear-gradient(#fcfcfc, #dfdfdf);
  background-image: linear-gradient(#fcfcfc, #dfdfdf);
  text-align: center;
}
/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.slider-wrapper .flex-control-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 48, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.slider-wrapper .flex-control-nav li:first-child, .slider-wrapper .flex-control-nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.slider-wrapper .flex-control-nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.slider-wrapper .flex-control-nav li.last {
  padding-right: 0;
}
/* line 146, ../sass/_layout_240.scss */
.slider-wrapper .flex-control-nav li {
  float: none;
}
/* line 148, ../sass/_layout_240.scss */
.slider-wrapper .flex-control-nav li a {
  width: 45px;
  height: 45px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -112px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
}
/* line 155, ../sass/_layout_240.scss */
.slider-wrapper .flex-control-nav li a:hover {
  background-position: 0 0;
}
/* line 159, ../sass/_layout_240.scss */
.slider-wrapper .flex-control-nav li a.active {
  background-position: 0 -45px;
  cursor: default;
}

/* line 168, ../sass/_layout_240.scss */
#product_categories {
  padding: 0 1.231em;
  margin-bottom: 1em;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#product_categories:after {
  content: "";
  display: table;
  clear: both;
}
/* line 174, ../sass/_layout_240.scss */
#product_categories article {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 1em;
}
/* line 180, ../sass/_layout_240.scss */
#product_categories article a {
  display: block;
  width: 100%;
  line-height: 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#product_categories article a:after {
  content: "";
  display: table;
  clear: both;
}
/* line 186, ../sass/_layout_240.scss */
#product_categories article a .imageholder {
  position: relative;
  display: block;
  width: 100%;
  line-height: 0;
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s false;
  border: 4px solid white;
  outline: 1px solid #dddddd;
}
/* line 4, ../sass/_mixins.scss */
#product_categories article a .imageholder > img {
  z-index: -1;
  position: relative;
}
/* line 9, ../sass/_mixins.scss */
#product_categories article a .imageholder:hover {
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
}
/* line 13, ../sass/_mixins.scss */
#product_categories article a .imageholder:active {
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.85);
}
/* line 194, ../sass/_layout_240.scss */
#product_categories article a .imageholder img {
  width: 100%;
}
/* line 198, ../sass/_layout_240.scss */
#product_categories article a .imageholder h3 {
  position: absolute;
  bottom: -2.5em;
  left: -5px;
}
@media screen and (orientation: landscape) {
  /* line 198, ../sass/_layout_240.scss */
  #product_categories article a .imageholder h3 {
    left: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 0 1em 0 1em;
    float: left;
    margin: 0;
  }
}
/* line 210, ../sass/_layout_240.scss */
#product_categories article a .description {
  margin-top: 3em;
}
@media screen and (orientation: landscape) {
  /* line 210, ../sass/_layout_240.scss */
  #product_categories article a .description {
    margin-top: 1em;
  }
}

/* line 220, ../sass/_layout_240.scss */
footer {
  padding: 1em;
  background-color: #999999;
  color: #fff;
  float: left;
  width: 100%;
  border-top: 4px solid black;
}
/* line 228, ../sass/_layout_240.scss */
footer nav {
  *zoom: 1;
  margin-bottom: 1em;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 232, ../sass/_layout_240.scss */
footer nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
/* line 240, ../sass/_layout_240.scss */
footer nav > ul > li {
  width: 100%;
  clear: both;
  float: left;
  margin-bottom: 1em;
}
/* line 246, ../sass/_layout_240.scss */
footer nav > ul > li > h3 {
  margin-top: 0;
}
/* line 250, ../sass/_layout_240.scss */
footer nav > ul > li > ul {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #8c8c8c;
}
/* line 254, ../sass/_layout_240.scss */
footer nav > ul > li > ul > li {
  width: 100%;
  border-bottom: 1px solid #999999;
}
/* line 258, ../sass/_layout_240.scss */
footer nav > ul > li > ul > li a {
  display: block;
  padding: 0 1em;
  width: 100%;
  line-height: 3.143em;
}
/* line 266, ../sass/_layout_240.scss */
footer nav > ul > li > ul > li:last-child {
  border-bottom: 0;
}
/* line 273, ../sass/_layout_240.scss */
footer #contact {
  width: 100%;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer #contact:after {
  content: "";
  display: table;
  clear: both;
}
/* line 277, ../sass/_layout_240.scss */
footer #contact h3 {
  margin-top: 0;
}
/* line 281, ../sass/_layout_240.scss */
footer #contact [itemprop="name"] {
  display: none;
}
/* line 286, ../sass/_layout_240.scss */
footer #contact [itemprop="telephone"],
footer #contact [itemprop="url"] {
  width: 100%;
  display: block;
  clear: both;
  margin-bottom: .5em;
}
/* line 293, ../sass/_layout_240.scss */
footer #contact .icon {
  float: left;
  margin-right: .5em;
}
/* line 297, ../sass/_layout_240.scss */
footer #contact #phone-icon {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -259px;
  height: 16px;
  width: 16px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
}
/* line 301, ../sass/_layout_240.scss */
footer #contact #facebook-icon {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -318px;
  height: 16px;
  width: 16px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
}
/* line 305, ../sass/_layout_240.scss */
footer #contact > [itemprop="address"] {
  position: relative;
  *zoom: 1;
  background-color: gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1.125em;
  margin-top: 1em;
  max-width: 24em;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer #contact > [itemprop="address"]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 314, ../sass/_layout_240.scss */
footer #contact > [itemprop="address"] span {
  width: 100%;
  display: block;
  clear: both;
}
/* line 321, ../sass/_layout_240.scss */
footer #contact > [itemprop="address"] [itemprop="addressRegion"],
footer #contact > [itemprop="address"] [itemprop="addressCountry"] {
  display: none;
}
/* line 326, ../sass/_layout_240.scss */
footer #contact > [itemprop="address"] [itemprop="addressLocality"],
footer #contact > [itemprop="address"] [itemprop="postalCode"] {
  width: auto;
  float: left;
  margin-right: .5em;
  clear: none;
}
/* line 333, ../sass/_layout_240.scss */
footer #contact > [itemprop="address"] [itemprop="url"] {
  float: left;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #666666;
  padding: 1em;
  clear: both;
  margin-top: .5em;
  margin-bottom: 0;
}
/* line 54, ../sass/_mixins.scss */
footer #contact > [itemprop="address"] [itemprop="url"]:after {
  display: block;
  float: right;
  margin-left: .5em;
  content: "";
  width: 13px;
  height: 13px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -334px;
  height: 13px;
  width: 13px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
  opacity: .8;
}
/* line 343, ../sass/_layout_240.scss */
footer #contact > [itemprop="address"] #map {
  position: absolute;
  right: -5px;
  top: -5px;
}
/* line 352, ../sass/_layout_240.scss */
footer #copyright {
  clear: both;
  width: 100%;
  margin-top: 2em;
}

@media screen and (min-width: 20em) {
  /* line 3, ../sass/_layout_320.scss */
  header #logo {
    width: 50%;
  }
  /* line 9, ../sass/_layout_320.scss */
  header #extra #language span {
    display: block;
    float: right;
    margin-right: 1em;
    line-height: 22px;
  }
}
@media screen and (min-width: 28em) {
  /* line 3, ../sass/_layout_480.scss */
  footer #contact {
    position: relative;
  }
  /* line 6, ../sass/_layout_480.scss */
  footer #contact #company_contact {
    width: 50%;
    float: left;
  }
  /* line 11, ../sass/_layout_480.scss */
  footer #contact [itemprop="address"] {
    float: right;
    width: 50%;
    margin-top: -2.852em;
  }
  /* line 16, ../sass/_layout_480.scss */
  footer #contact [itemprop="address"] #map {
    display: none;
  }
}
@media screen and (min-width: 37.5em) {
  /* If we're not on a touch device, we can fit in some extra content */
  /* line 6, ../sass/_layout_600.scss */
  .no-touch header #extra {
    margin-top: 1em;
  }
  /* line 9, ../sass/_layout_600.scss */
  .no-touch header #extra #contact_short {
    display: block;
  }
  /* line 13, ../sass/_layout_600.scss */
  .no-touch header #extra #contact_short .phone,
  .no-touch header #extra #contact_short .email {
    float: right;
    line-height: 16px;
    margin-right: 2em;
  }
  /* line 20, ../sass/_layout_600.scss */
  .no-touch header #extra #contact_short .email_icon,
  .no-touch header #extra #contact_short .phone_icon {
    float: left;
    margin-right: .5em;
  }
  /* line 24, ../sass/_layout_600.scss */
  .no-touch header #extra #contact_short .email_icon {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 -302px;
    height: 16px;
    width: 16px;
    background-image: url('../images/example/icons-sc27111e038.png');
    background-repeat: no-repeat;
  }
  /* line 28, ../sass/_layout_600.scss */
  .no-touch header #extra #contact_short .phone_icon {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 -286px;
    height: 16px;
    width: 16px;
    background-image: url('../images/example/icons-sc27111e038.png');
    background-repeat: no-repeat;
  }
  /* line 33, ../sass/_layout_600.scss */
  .no-touch header #extra #language {
    padding-top: 2px;
    height: 11px;
    width: 35px;
  }
  /* line 38, ../sass/_layout_600.scss */
  .no-touch header #extra #language span {
    display: none;
  }
  /* line 42, ../sass/_layout_600.scss */
  .no-touch header #extra #language a.active {
    display: block;
    opacity: .4;
  }
  /* line 47, ../sass/_layout_600.scss */
  .no-touch header #extra #language #english {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 -225px;
    height: 11px;
    width: 14px;
    background-image: url('../images/example/icons-sc27111e038.png');
    background-repeat: no-repeat;
    float: left;
  }
  /* line 51, ../sass/_layout_600.scss */
  .no-touch header #extra #language #norwegian {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 -275px;
    height: 11px;
    width: 14px;
    background-image: url('../images/example/icons-sc27111e038.png');
    background-repeat: no-repeat;
    float: right;
  }

  /* line 61, ../sass/_layout_600.scss */
  header #logo {
    width: 25%;
  }
  /* line 65, ../sass/_layout_600.scss */
  header #extra {
    width: 60%;
  }
  /* line 71, ../sass/_layout_600.scss */
  header nav ul li, header nav ul li:last-child {
    width: 20%;
  }
  /* line 75, ../sass/_layout_600.scss */
  header nav ul li.normal {
    display: block;
  }
  /* line 79, ../sass/_layout_600.scss */
  header nav ul li:not(.normal) {
    background: url("../images/example/arrow.png") no-repeat 95% 50%;
  }
  /* line 83, ../sass/_layout_600.scss */
  header nav ul #menu_footer_link {
    display: none;
  }

  /* line 91, ../sass/_layout_600.scss */
  .slider-wrapper .slides h3 {
    bottom: 1em;
  }

  /* line 97, ../sass/_layout_600.scss */
  #product_categories {
    padding: 0;
  }
  /* line 100, ../sass/_layout_600.scss */
  #product_categories article {
    width: 50%;
    padding: 1.231em;
    margin-bottom: 0;
  }
  /* line 107, ../sass/_layout_600.scss */
  #product_categories article a .imageholder h3 {
    left: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 0 1em 0 1em;
    float: left;
    margin: 0;
  }
  /* line 113, ../sass/_layout_600.scss */
  #product_categories article a .description {
    margin-top: 1em;
  }

  /* line 123, ../sass/_layout_600.scss */
  footer nav > ul > li {
    width: 33.333%;
    clear: none;
    padding-right: 1em;
  }
  /* line 129, ../sass/_layout_600.scss */
  footer nav > ul > li:last-child {
    width: 33.334%;
    padding-right: 0;
  }
  /* line 135, ../sass/_layout_600.scss */
  footer #contact {
    position: relative;
  }
  /* line 138, ../sass/_layout_600.scss */
  footer #contact #company_contact {
    width: 50%;
    float: left;
  }
  /* line 143, ../sass/_layout_600.scss */
  footer #contact [itemprop="address"] {
    float: right;
    width: 45%;
  }
  /* line 147, ../sass/_layout_600.scss */
  footer #contact [itemprop="address"] #map {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  /* line 3, ../sass/_layout_1024.scss */
  .no-touch header #extra {
    margin-top: 0;
  }

  /* line 9, ../sass/_layout_1024.scss */
  header #logo {
    margin-bottom: 1em;
  }
  /* line 13, ../sass/_layout_1024.scss */
  header #extra {
    position: absolute;
    right: 0;
    bottom: 3.25em;
  }
  /* line 19, ../sass/_layout_1024.scss */
  header #extra #contact_short {
    display: block;
    float: right;
  }
  /* line 24, ../sass/_layout_1024.scss */
  header #extra #language {
    height: 22px;
    width: 75px;
  }
  /* line 28, ../sass/_layout_1024.scss */
  header #extra #language span {
    display: none;
  }
  /* line 32, ../sass/_layout_1024.scss */
  header #extra #language a.active {
    display: block;
    opacity: .4;
  }
  /* line 37, ../sass/_layout_1024.scss */
  header #extra #language #norwegian {
    float: right;
  }
  /* line 43, ../sass/_layout_1024.scss */
  header nav {
    width: auto;
    clear: right;
    margin-right: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  /* line 52, ../sass/_layout_1024.scss */
  header nav > ul {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  /* line 55, ../sass/_layout_1024.scss */
  header nav > ul > li > a {
    padding: 0 3em;
  }

  /* line 62, ../sass/_layout_1024.scss */
  .slider-wrapper {
    border-bottom: 4px solid black;
  }
  /* line 66, ../sass/_layout_1024.scss */
  .slider-wrapper .slides .infobox {
    width: 26.875em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-color: red;
    background: url('../images/rgbapng/00000099.png?1336572227');
    background: rgba(0, 0, 0, 0.6);
    padding: 2em;
  }
  /* line 75, ../sass/_layout_1024.scss */
  .slider-wrapper .slides .infobox h3 {
    position: relative;
    clear: both;
    width: 100%;
    background: none;
    bottom: 0;
    padding: 0;
  }
  /* line 83, ../sass/_layout_1024.scss */
  .slider-wrapper .slides .infobox h3:after {
    display: none;
  }
  /* line 89, ../sass/_layout_1024.scss */
  .slider-wrapper .slides .infobox .description,
  .slider-wrapper .slides .infobox .readon {
    margin: 0;
    display: block;
    clear: both;
  }
  /* line 95, ../sass/_layout_1024.scss */
  .slider-wrapper .slides .infobox .description {
    width: 19.286em;
  }
  /* line 99, ../sass/_layout_1024.scss */
  .slider-wrapper .slides .infobox .readon {
    background-color: #666666;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5em 1em;
  }
  /* line 54, ../sass/_mixins.scss */
  .slider-wrapper .slides .infobox .readon:after {
    display: block;
    float: right;
    margin-top: 0.45em;
    margin-left: .5em;
    content: "";
    width: 13px;
    height: 13px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 -334px;
    height: 13px;
    width: 13px;
    background-image: url('../images/example/icons-sc27111e038.png');
    background-repeat: no-repeat;
    opacity: .8;
  }
  /* line 111, ../sass/_layout_1024.scss */
  .slider-wrapper .flex-control-nav {
    position: absolute;
    bottom: 0;
    right: 1em;
    background-image: none;
    background-color: transparent;
  }

  /* line 121, ../sass/_layout_1024.scss */
  #product_categories article {
    width: 25%;
  }

  /* line 127, ../sass/_layout_1024.scss */
  footer nav {
    width: 50%;
    max-width: 50em;
    float: left;
  }
  /* line 133, ../sass/_layout_1024.scss */
  footer #contact {
    width: 50%;
    float: right;
    max-width: 40em;
  }
}
@media screen and (min-width: 90em) {
  /* line 4, ../sass/_layout_1440.scss */
  header #logo {
    width: 20%;
  }
  /* line 9, ../sass/_layout_1440.scss */
  header nav > ul {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  /* line 12, ../sass/_layout_1440.scss */
  header nav > ul > li > a {
    padding: 0 4em;
  }

  /* line 22, ../sass/_layout_1440.scss */
  .slider-wrapper .slides > li > a {
    display: block;
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .slider-wrapper .slides > li > a:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 26, ../sass/_layout_1440.scss */
  .slider-wrapper .slides > li > a .infobox {
    bottom: 3.813em;
  }
  /* line 29, ../sass/_layout_1440.scss */
  .slider-wrapper .slides > li > a .infobox .description {
    width: 100%;
    margin-bottom: 1em;
  }
  /* line 38, ../sass/_layout_1440.scss */
  .slider-wrapper .flex-control-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 103.5em) {
  /* line 3, ../sass/_layout_1620.scss */
  .wrap {
    *zoom: 1;
    position: relative;
    max-width: 90em;
    margin: 0 auto;
  }
  /* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 11, ../sass/_layout_1620.scss */
  header #logo {
    margin-left: 0;
  }
  /* line 16, ../sass/_layout_1620.scss */
  header #extra #language,
  header nav {
    margin-right: 0;
  }

  /* line 25, ../sass/_layout_1620.scss */
  .slider-wrapper .slides > li > a .infobox {
    left: 0;
  }

  /* line 34, ../sass/_layout_1620.scss */
  #product_categories .wrap {
    /* Compensate for the 13/16 font size in this section */
    /* Give +36px extra room to compensate for the articles' side paddings */
    max-width: 113.231em;
  }
}
/* typography */
/* line 58, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 62, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

@media screen and (min-width: 90em) {
  /* line 58, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  body {
    font-size: 112.5%;
    line-height: 1.333em;
  }

  /* line 62, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html > body {
    font-size: 18px;
  }
}
/* line 8, ../sass/_typography.scss */
body {
  color: #555555;
}

/* line 12, ../sass/_typography.scss */
a {
  color: #999999;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #cccccc;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #cccc00;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #666666;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #cc0000;
}

/* line 18, ../sass/_typography.scss */
header #language {
  font-size: 0.688em;
  text-align: center;
}
/* line 23, ../sass/_typography.scss */
header #contact_short {
  font-size: 0.75em;
  color: #000;
  font-weight: bold;
}
/* line 28, ../sass/_typography.scss */
header #contact_short a {
  color: black;
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header #contact_short a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header #contact_short a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header #contact_short a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header #contact_short a:active {
  color: black;
}
/* line 35, ../sass/_typography.scss */
header nav ul li {
  text-align: center;
}
/* line 37, ../sass/_typography.scss */
header nav ul li a {
  font-size: 0.75em;
  line-height: 3.333em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header nav ul li a:visited {
  color: white;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header nav ul li a:focus {
  color: white;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header nav ul li a:hover {
  color: white;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header nav ul li a:active {
  color: white;
}

/* line 48, ../sass/_typography.scss */
.slider-wrapper .slides > li > a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a:visited {
  color: white;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a:focus {
  color: white;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a:hover {
  color: white;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a:active {
  color: white;
}
/* line 52, ../sass/_typography.scss */
.slider-wrapper .slides > li > a h3 {
  font-size: 1em;
  font-weight: normal;
  line-height: 2.5em;
  background: url('../images/rgbapng/00000099.png?1336572227');
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a h3:visited {
  color: white;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a h3:focus {
  color: white;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a h3:hover {
  color: white;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.slider-wrapper .slides > li > a h3:active {
  color: white;
}
@media screen and (min-width: 37.5em) {
  /* line 52, ../sass/_typography.scss */
  .slider-wrapper .slides > li > a h3 {
    font-size: 1.5em;
  }
  /* line 54, ../sass/_mixins.scss */
  .slider-wrapper .slides > li > a h3:after {
    display: block;
    float: right;
    margin-top: 1em;
    margin-left: .5em;
    content: "";
    width: 13px;
    height: 13px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 -334px;
    height: 13px;
    width: 13px;
    background-image: url('../images/example/icons-sc27111e038.png');
    background-repeat: no-repeat;
    opacity: .8;
  }
}
@media screen and (min-width: 64em) {
  /* line 52, ../sass/_typography.scss */
  .slider-wrapper .slides > li > a h3 {
    font-size: 2em;
    line-height: 1.5em;
  }
}
/* line 67, ../sass/_typography.scss */
.slider-wrapper .slides > li > a .description,
.slider-wrapper .slides > li > a .readon {
  font-size: 0.875em;
}

/* line 72, ../sass/_typography.scss */
#product_categories {
  font-size: 0.813em;
}
/* line 75, ../sass/_typography.scss */
#product_categories a {
  text-decoration: none;
  color: #555555;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#product_categories a:visited {
  color: #555555;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#product_categories a:focus {
  color: #555555;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#product_categories a:hover {
  color: #555555;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#product_categories a:active {
  color: #555555;
}
@media screen and (orientation: landscape) {
  /* line 79, ../sass/_typography.scss */
  #product_categories a h3 {
    font-size: 1em;
    font-weight: normal;
    line-height: 2.5em;
    background: url('../images/rgbapng/00000099.png?1336572227');
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }
  /* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:visited {
    color: white;
  }
  /* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:focus {
    color: white;
  }
  /* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:hover {
    color: white;
  }
  /* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:active {
    color: white;
  }
}
@media screen and (min-width: 37.5em) {
  /* line 79, ../sass/_typography.scss */
  #product_categories a h3 {
    font-size: 1em;
    font-weight: normal;
    line-height: 2.5em;
    background: url('../images/rgbapng/00000099.png?1336572227');
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }
  /* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:visited {
    color: white;
  }
  /* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:focus {
    color: white;
  }
  /* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:hover {
    color: white;
  }
  /* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  #product_categories a h3:active {
    color: white;
  }
}
/* line 89, ../sass/_typography.scss */
#product_categories a .description {
  line-height: 1.5em;
}
@media screen and (min-width: 37.5em) {
  /* line 89, ../sass/_typography.scss */
  #product_categories a .description {
    margin-top: 1em;
  }
}

/* line 100, ../sass/_typography.scss */
footer a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer a:visited {
  color: white;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer a:focus {
  color: #cccc00;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer a:hover {
  color: white;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer a:active {
  color: #cc0000;
}
/* line 105, ../sass/_typography.scss */
footer nav a {
  font-size: 0.875em;
}
/* line 109, ../sass/_typography.scss */
footer h3 a {
  font-size: 1em;
}
/* line 113, ../sass/_typography.scss */
footer h3 {
  text-transform: uppercase;
  color: #fff;
}
/* line 118, ../sass/_typography.scss */
footer #contact {
  font-size: 0.875em;
}
/* line 122, ../sass/_typography.scss */
footer #contact [itemprop="telephone"],
footer #contact [itemprop="url"] {
  line-height: 13px;
}
/* line 126, ../sass/_typography.scss */
footer #contact [itemprop="address"] a {
  font-size: 0.857em;
}
/* line 131, ../sass/_typography.scss */
footer #copyright {
  font-size: 0.75em;
  opacity: .6;
}

/* styles for special devices */
/* line 3, ../sass/_no-touch.scss */
.no-touch .slider-wrapper .flex-control-nav {
  height: 23px;
}
/* line 7, ../sass/_no-touch.scss */
.no-touch .slider-wrapper .flex-control-nav li a {
  width: 23px;
  height: 23px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 -236px;
  background-image: url('../images/example/icons-sc27111e038.png');
  background-repeat: no-repeat;
}
/* line 12, ../sass/_no-touch.scss */
.no-touch .slider-wrapper .flex-control-nav li a:hover {
  background-position: 0 -157px;
}
/* line 16, ../sass/_no-touch.scss */
.no-touch .slider-wrapper .flex-control-nav li a.active {
  background-position: 0 -180px;
  cursor: default;
}
/* line 28, ../sass/_no-touch.scss */
.no-touch footer nav ul > li h3 {
  margin-bottom: .5em;
}
/* line 32, ../sass/_no-touch.scss */
.no-touch footer nav ul > li > ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
}
/* line 36, ../sass/_no-touch.scss */
.no-touch footer nav ul > li > ul > li {
  border-bottom: none;
}
/* line 39, ../sass/_no-touch.scss */
.no-touch footer nav ul > li > ul > li a {
  padding: 0;
}
/* line 49, ../sass/_no-touch.scss */
.no-touch footer #contact > [itemprop="address"] [itemprop="url"] {
  padding: .5em;
}

/* line 2, ../sass/_no-touch_typography.scss */
.no-touch footer nav ul > li > ul > li a {
  line-height: 1.5em;
  text-decoration: underline;
}

/* line 4, ../sass/_ie.scss */
.lt-ie10 .slider-wrapper .flex-control-nav {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFDFDFDF');
}

/* plugins, extras */
/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* Browser Resets */
/* line 14, ../sass/_flexslider.scss */
.slider-wrapper a:active,
.slider a:active,
.slider-wrapper a:focus,
.slider a:focus {
  outline: none;
}

/* line 16, ../sass/_flexslider.scss */
.slides,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 20, ../sass/_flexslider.scss */
.slider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 21, ../sass/_flexslider.scss */
.slider .slides img {
  max-width: 100%;
  display: block;
}

/* line 22, ../sass/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 27, ../sass/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 32, ../sass/_flexslider.scss */
.slider {
  background: #fff;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
}

/* line 33, ../sass/_flexslider.scss */
.slider .slides {
  zoom: 1;
}

/* line 34, ../sass/_flexslider.scss */
.slider .slides > li {
  position: relative;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
/* line 36, ../sass/_flexslider.scss */
.slider-wrapper {
  zoom: 1;
  position: relative;
}

/* Caption style */
/* IE rgba() hack */
/* line 40, ../sass/_flexslider.scss */
.flex-caption {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom: 1;
}

/* line 42, ../sass/_flexslider.scss */
.flex-caption {
  width: 96%;
  padding: 2%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
}

/* Direction Nav */
/* line 45, ../sass/_flexslider.scss */
.flex-direction-nav {
  height: 0;
}

/* line 46, ../sass/_flexslider.scss */
.flex-direction-nav li a {
  width: 52px;
  height: 52px;
  margin: -13px 0 0;
  display: block;
  background: url(theme/bg_direction_nav.png) no-repeat;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -999em;
}

/* line 47, ../sass/_flexslider.scss */
.flex-direction-nav li .next {
  background-position: -52px 0;
  right: 0;
}

/* line 48, ../sass/_flexslider.scss */
.flex-direction-nav li .prev {
  left: 0;
}

/* line 49, ../sass/_flexslider.scss */
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav 
.flex-control-nav { width: 100%; clear: both; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(theme/bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}
*/
