/* General */

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    *behavior: url(/script/boxsizing.htc); /* polyfill for IE6/7, see https://github.com/Schepp/box-sizing-polyfill */
}

body > * {
    width: 100%;
    clear: both;
}

/* Header */

header {
    nav ul {
        @include horizontal-list;

        background: #666;

        li {
            border-right: 1px solid #fff;
            text-align: center;
            width: 33.333%;

            @media screen and (min-width: 600px) {
                width: 20%;
            }
        }

        li:last-child {
            border-right: 0;
            width: 33.334%;
            
            @media screen and (min-width: 600px) {
                width: 20%;
            }
        }

        li.normal {
            display: none;

            @media screen and (min-width: 600px) {
                display: block;
            }
        }

        #menu_footer_link {
            @media screen and (min-width: 600px) {
                display: none;
            }
        }
    }
}