* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    *behavior: url(/script/boxsizing.htc); /* polyfill for IE6/7, see https://github.com/Schepp/box-sizing-polyfill */
}

header, footer, nav { display: block }