body {
    @include establish_baseline(16px);
}

a {
    @include link-colors(#0c0, #6c0, #c00, #ccc, #cc0);
}

header {
    nav ul {
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}